/* Work Sense Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    border: 0;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 39px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

/* banner styles */
.banner-content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


main{
    max-width:1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick{
    color: #727272;
    font-weight: 500;
}
.teams-title .of{
    color: #131313;
    font-weight: 700;
}
.teams-title .frc{
    color: #FF900E;
    font-weight: 700;
}
/* Facts Section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding:30px;
}
.facts-card-container, .card-title{
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;  
}
.facts-card-container, .card-stats{
    font-size: 2.8rem;
    color:#424242;
    margin-top: 10px;
    margin-bottom: 10px;
}





/* Responsive Media Query */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 50px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* tablet medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    nav, .teams-container
    {
        flex-direction: column;
    }
}
