/* Work Sense Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    border: 0;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 39px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

/* banner styles */
.banner-content {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* Responsive Media Query */
/* mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
/* tablet medium devices */
@media screen and (min-width:992px) and (max-width:992px) {
    nav{
        flex-direction: column;
    }
}